.I\.P\.A {
	background-color: #ae5f26;
}

.A\.P\.A\. {
	background-color: #bf8023;
}

.Ale {
	background-color: #bd8025;
}

.Lager {
	background-color: #fdf554;
}

.Porter {
	background-color: #4b231d;
}

.Stout {
	background-color: #2f1c16;
}

.Pilsner {
	background-color: #fff420;
}

.Bock {
	background-color: #592720;
}

.E\.S\.B\. {
	background-color: #bd512b;
}

.Brown {
	background-color: #64281e;
}

.Gose {
	background-color: #b30c06;
}

.Saison {
	background-color: #9d3803;
}

.Belgian {
	background-color: #792820;
}

.Wheat\/Weisse\/Hefeweizen{
	background-color: #f7e304;
}

.Blond {
	background-color: #fff218;
}

.Amber {
	background-color: #ab2f25;
}

.Other {
	background-color: #a55524;
}