body {
	text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 65px;
    color: white;
    background-image: url("/image/Flag-of-Colorado-XL.jpg");
}
.container-fluid{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

/*  img {
	width: 100%;
	height: 50%;
}  */
.flex-container {
	display:flex;
	flex-direction: column;
	/* align-items: baseline; */
	
}
.flex-container img {
	width: 200px;
	
}
.flex-container div {
	height: 50%;
	position: relative;
	bottom:0;
}
