body {
	text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 65px;
    color: white;
    background-image: url("/image/Flag-of-Colorado-XL.jpg");
}
.container-fluid{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}
.masonry {
	display: flex;
	flex-flow: row wrap;
	/* margin-left: 10px; */  /* Adjustment for the gutter  */
	
	/* margin-right: 10px; */
	width: 100%;
	justify-content: space-evenly!important;
	
	 /* border: 5px solid red; */ 
}
 .masonry-item {
	flex: auto;
	height: 550px;
	min-width: 150px;
	    
} 


/* .masonry-brick:nth-child(4n+1) {
	width: 250px;
}
.masonry-brick:nth-child(4n+1):nth-child(4n+2) {
	width: 325px;
}
.masonry-brick:nth-child(4n+1):nth-child(4n+3) {
	width: 180px;
}
.masonry-brick:nth-child(4n+1):nth-child(4n+4) {
	width: 380px;
} */



